@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__subtitle/popup__subtitle.css);
@import url(./__field/popup__field.css);
@import url(./__button/popup__button.css);
@import url(./__close/popup__close.css);
@import url(./_hidden/popup_hidden.css);
@import url(./__image/popup__image.css);
@import url(./__zoom-container/popup__zoom-container.css);


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s linear;
}
