@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);
.header {
    max-width: 882px;
    min-height: 74px;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {
    .header {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding-top: 28px;
    }
}