.popup__field {
    width: 358px;
    height: 28px;
    border: none;
    font-size: 17px;
}

@media screen and (max-width: 425px) {
    .popup__field {
        width: 80%;
        height: 20px;
    }
}